<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:rabbit="http://www.springframework.org/schema/rabbit"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/rabbit    
    	http://www.springframework.org/schema/rabbit/spring-rabbit.xsd
    	http://code.alibabatech.com/schema/dubbo
		http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<dubbo:application name="student_customer"/>
	<dubbo:registry address="zookeeper://192.168.137.1:2181"/>
	<dubbo:reference id="studentServ" interface="com.test.service.IStudentService"/>


	<!-- 扫描service -->
	<context:component-scan base-package="com.test.rabbitmq"></context:component-scan>

	<import resource="classpath*:/springrabbitmq.xml"/>

	<import resource="classpath*:/springmvc.xml"/>
	
</beans>